<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ctr_model">
    
    <!-- MACROS -->
      <material name="Yellow">
	    <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
      </material>
      <material name="Purple">
	    <color rgba="${0/255} ${0/255} ${255/255} 1.0"/>
      </material>
      <material name="Red">
	    <color rgba="${255/255} ${0/255} ${0/255} 1.0"/>
      </material>
      <material name="Green">
	    <color rgba="${0/255} ${255/255} ${0/255} 1.0"/>
      </material>
      <material name="White">
        <color rgba="${255/255} ${255/255} ${255/255} 1.0"/>
      </material>
    <xacro:macro name="body_link" params="base_name parent_name colour pos">
        <link name="${base_name}">
     	    <inertial>
                <origin xyz="0 0 0.1" rpy="0 0 0"/>
                <mass value="0.1" />
                <inertia ixx="0.00025" ixy="0.0" ixz="0.0" iyy="0.00025" iyz="0.0" izz="0.000125"/>
            </inertial>
            <collision>
                <origin xyz="0 0 0.1" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="0.005" length="0.1"/>
                </geometry>
            </collision>
            <visual>
                <origin xyz="0 0 ${pos}" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="0.02" length="0.02"/>
                </geometry>
		        <material name="${colour}"/>
            </visual>
    	</link>
    	
    	<gazebo reference="${base_name}">
            <kp>1000000000.0</kp>
            <kd>1000000000.0</kd>
            <mu1>10.0</mu1>
            <mu2>10.0</mu2>
            <material>Gazebo/${colour}</material>
            <self_collide>1</self_collide>
        </gazebo>
        
        <joint name="${base_name}_joint" type="fixed">
    	    <parent link="${parent_name}"/>
        	<child link="${base_name}"/>
            <origin xyz="0 0 0.1" rpy="0 0 0"/>
            <limit lower="-1.5708" upper="1.5708" effort="100.0" velocity="0.5"/>
            <axis xyz="0 1 0"/>
    	</joint>
    	

    </xacro:macro>

	<!-- * * * Link Definitions * * * -->
	
	

    <link name="base_link">
 	    <inertial>
            <origin xyz="0 0 0.075" rpy="0 0 0"/>
            <mass value="0.1" />
            <inertia ixx="0.00025" ixy="0.0" ixz="0.0" iyy="0.00025" iyz="0.0" izz="0.000125"/>
        </inertial>
        <collision>
            <origin xyz="0 0 0.075" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.05" length="0.15"/>
            </geometry>
        </collision>
    </link>
    <!--MARKER FOR TIP POSITION-->
    <joint name="$marker_tip_joint" type="fixed">
    	<parent link="base_link"/>
        <child link="marker_tip"/>
    </joint>
   <link name="marker_tip">
     <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="red">
            <color rgba="1 0 0 1"/>
      </material>
     </visual>
    </link>
    <!--MARKER FOR DESIRED TIP POSITION-->
    <joint name="$marker_desired_joint" type="fixed">
    	<parent link="base_link"/>
        <child link="marker_desired"/>
    </joint>
    <link name="marker_desired">
     <visual>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="green">
            <color rgba="0 1 0 1"/>
      </material>
     </visual>
    </link>
    <!--MARKER FOR TARGET TIP POSITION-->
    <joint name="$marker_target_joint" type="fixed">
    	<parent link="base_link"/>
        <child link="marker_target"/>
    </joint>
    <link name="marker_target">
     <visual>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="blue">
            <color rgba="0 0 1 1"/>
      </material>
     </visual>
    </link>
    <joint name="$additional_target_joint_0" type="fixed">
    	<parent link="base_link"/>
        <child link="additional_target_0"/>
    </joint>
    <link name="additional_target_0">
     <visual>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="blue">
            <color rgba="0 0 1 1"/>
      </material>
     </visual>
    </link>
    <joint name="$additional_target_joint_1" type="fixed">
    	<parent link="base_link"/>
        <child link="additional_target_1"/>
    </joint>
    <link name="additional_target_1">
     <visual>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="blue">
            <color rgba="0 0 1 1"/>
      </material>
     </visual>
    </link>
    <joint name="$additional_target_joint_2" type="fixed">
    	<parent link="base_link"/>
        <child link="additional_target_2"/>
    </joint>
    <link name="additional_target_2">
     <visual>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="blue">
            <color rgba="0 0 1 1"/>
      </material>
     </visual>
    </link>
    <joint name="$additional_target_joint_3" type="fixed">
    	<parent link="base_link"/>
        <child link="additional_target_3"/>
    </joint>
    <link name="additional_target_3">
     <visual>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="blue">
            <color rgba="0 0 1 1"/>
      </material>
     </visual>
    </link>
    <!--MARKER MEASURED TIP POSITION-->
    <joint name="$marker_measured_joint" type="fixed">
    	<parent link="base_link"/>
        <child link="marker_measured"/>
    </joint>
   <link name="marker_measured">
     <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="orange">
            <color rgba="1 1 0 1"/>
      </material>
     </visual>
    </link>
    <joint name="$marker_manipulability_joint" type="fixed">
    	<parent link="base_link"/>
        <child link="marker_manipulability"/>
    </joint>
   <link name="marker_manipulability">
     <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="orange">
            <color rgba="1 1 0 1"/>
      </material>
     </visual>
    </link>
    <xacro:body_link base_name="snake_body_1" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_2" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_3" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_4" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_5" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_6" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_7" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_8" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_9" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_10" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_11" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_12" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_13" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_14" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_15" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_16" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_17" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_18" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_19" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_20" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_21" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_22" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_23" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_24" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_25" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_26" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_27" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_28" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_29" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_30" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_31" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_32" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_33" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_34" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_35" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_36" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_37" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_38" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_39" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_40" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_41" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_42" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_43" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_44" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_45" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_46" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_47" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_48" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_49" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_50" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_51" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_52" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_53" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_54" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_55" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_56" parent_name="base_link" pos="0" colour="Red"/>       
    <xacro:body_link base_name="snake_body_57" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_58" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_59" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_60" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_61" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_62" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_63" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_64" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_65" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_66" parent_name="base_link" pos="0" colour="Red"/>       
    <xacro:body_link base_name="snake_body_67" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_68" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_69" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_70" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_71" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_72" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_73" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_74" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_75" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_76" parent_name="base_link" pos="0" colour="Red"/>       
    <xacro:body_link base_name="snake_body_77" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_78" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_79" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_80" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_81" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_82" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_83" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_84" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_85" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_86" parent_name="base_link" pos="0" colour="Red"/>       
    <xacro:body_link base_name="snake_body_87" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_88" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_89" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_90" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_91" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_92" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_93" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_94" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_95" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_96" parent_name="base_link" pos="0" colour="Red"/>       
    <xacro:body_link base_name="snake_body_97" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_98" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_99" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_100" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_101" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_102" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_103" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_104" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_105" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_106" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_107" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_108" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_109" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_110" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_111" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_112" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_113" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_114" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_115" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_116" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_117" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_118" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_119" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_120" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_121" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_122" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_123" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_124" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_125" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_126" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_127" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_128" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_129" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_130" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_131" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_132" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_133" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_134" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_135" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_136" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_137" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_138" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_139" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_140" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_141" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_142" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_143" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_144" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_145" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_146" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_147" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_148" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_149" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_150" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_151" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_152" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_153" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_154" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_155" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_156" parent_name="base_link" pos="0" colour="Red"/>       
    <xacro:body_link base_name="snake_body_157" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_158" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_159" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_160" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_161" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_162" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_163" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_164" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_165" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_166" parent_name="base_link" pos="0" colour="Red"/>       
    <xacro:body_link base_name="snake_body_167" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_168" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_169" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_170" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_171" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_172" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_173" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_174" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_175" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_176" parent_name="base_link" pos="0" colour="Red"/>       
    <xacro:body_link base_name="snake_body_177" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_178" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_179" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_180" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_181" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_182" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_183" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_184" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_185" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_186" parent_name="base_link" pos="0" colour="Red"/>       
    <xacro:body_link base_name="snake_body_187" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_188" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_189" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_190" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_191" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_192" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_193" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_194" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_195" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_196" parent_name="base_link" pos="0" colour="Red"/>       
    <xacro:body_link base_name="snake_body_197" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_198" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_199" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_200" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_201" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_202" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_203" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_204" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_205" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_206" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_207" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_208" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_209" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_210" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_211" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_212" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_213" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_214" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_215" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_216" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_217" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_218" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_219" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_220" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_221" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_222" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_223" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_224" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_225" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_226" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_227" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_228" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_229" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_230" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_231" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_232" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_233" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_234" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_235" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_236" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_237" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_238" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_239" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_240" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_241" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_242" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_243" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_244" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_245" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_246" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_247" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_248" parent_name="base_link" pos="0" colour="Red"/>   
    <xacro:body_link base_name="snake_body_249" parent_name="base_link" pos="0" colour="Red"/>
    <xacro:body_link base_name="snake_body_250" parent_name="base_link" pos="0" colour="Red"/>

    <xacro:body_link base_name="tube_1_1" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_2" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_3" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_4" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_5" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_6" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_7" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_8" parent_name="base_link" pos="0" colour="Green"/>   
    <xacro:body_link base_name="tube_1_9" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_10" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_11" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_12" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_13" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_14" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_15" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_16" parent_name="base_link" pos="0" colour="Green"/>   
    <xacro:body_link base_name="tube_1_17" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_18" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_19" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_20" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_21" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_22" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_23" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_24" parent_name="base_link" pos="0" colour="Green"/>   
    <xacro:body_link base_name="tube_1_25" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_26" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_27" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_28" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_29" parent_name="base_link" pos="0" colour="Green"/>
    <xacro:body_link base_name="tube_1_30" parent_name="base_link" pos="0" colour="Green"/>

    <xacro:body_link base_name="tube_2_1" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_2" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_3" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_4" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_5" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_6" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_7" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_8" parent_name="base_link" pos="0" colour="Purple"/>   
    <xacro:body_link base_name="tube_2_9" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_10" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_11" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_12" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_13" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_14" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_15" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_16" parent_name="base_link" pos="0" colour="Purple"/>   
    <xacro:body_link base_name="tube_2_17" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_18" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_19" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_20" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_21" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_22" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_23" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_24" parent_name="base_link" pos="0" colour="Purple"/>   
    <xacro:body_link base_name="tube_2_25" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_26" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_27" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_28" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_29" parent_name="base_link" pos="0" colour="Purple"/>
    <xacro:body_link base_name="tube_2_30" parent_name="base_link" pos="0" colour="Purple"/>

    <xacro:body_link base_name="tube_3_1" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_2" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_3" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_4" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_5" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_6" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_7" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_8" parent_name="base_link" pos="0" colour="Yellow"/>   
    <xacro:body_link base_name="tube_3_9" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_10" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_11" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_12" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_13" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_14" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_15" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_16" parent_name="base_link" pos="0" colour="Yellow"/>   
    <xacro:body_link base_name="tube_3_17" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_18" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_19" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_20" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_21" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_22" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_23" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_24" parent_name="base_link" pos="0" colour="Yellow"/>   
    <xacro:body_link base_name="tube_3_25" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_26" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_27" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_28" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_29" parent_name="base_link" pos="0" colour="Yellow"/>
    <xacro:body_link base_name="tube_3_30" parent_name="base_link" pos="0" colour="Yellow"/>
    
</robot>


